<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>study</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 2020. 5. 20. 필터 실습 -->
	<filter>
		<filter-name>timerFilter</filter-name>
		<filter-class>com.filter.TimerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>timerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--error-page>
		<error-code>404</error-code>
		<location>/error/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/error500.jsp</location>
	</error-page-->

	<servlet>
		<servlet-name>firstServlet</servlet-name>
		<servlet-class>com.user1.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>/first</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>com.hello.HelloServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<!-- ServletConfig, ServletContext -->
	<!-- Context-param은 어느 서블릿에서나 사용할 수 있다. -->
	<context-param>
		<param-name>ip</param-name>
		<param-value>127.0.0.1</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>홍길동</param-value>
	</context-param>
	<context-param>
		<param-name>pwd</param-name>
		<param-value>hello12345</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>servletConfigTest</servlet-name>
		<servlet-class>com.sc.ServletConfigTest</servlet-class>
		<init-param>
			<param-name>subject</param-name>
			<param-value>자바</param-value>
		</init-param>
		<init-param>
			<param-name>score</param-name>
			<param-value>100점</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>servletConfigTest</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
</web-app>